.label-modal-cancel {
    font-family: 'Baloo 2', cursive;
    color: gray;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;  
}

::ng-deep .textarea-wrapper {
    font-family: 'Baloo 2', cursive;
}