.label-first {
    color: #54B488;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.label-first-second {
    color: #868686;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.input-border {
    border-bottom: 3px solid #54B488;
}