.title {
    font-family: 'Baloo 2', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #54B488;
}

.content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #505050;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #9D9D9D;
    font-family: 'Baloo 2', cursive;
}

.noneholder {
    height: 75px;
    line-height: 62px;
}