<ion-content>
  <div class="row">
    <div class="col-12 header-first" style="height: 30%;">
      <div class="row" style="margin-top: -30px;">
        <div class="col-2 mt-2">
          <ion-icon class="ml-2" (click)="closeModal()" name="arrow-back-outline">
          </ion-icon>
        </div>
        <div class="col-10">
          <label style="margin-left: 20px;" class="label-account">{{'Chat Global'}}</label>
        </div>
      </div>
    </div>
    <div class="col-12 mt-5"></div>
    <div class="col-12 mt-5"></div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div slot="start" padding>😀</div>
    <ion-input [(ngModel)]="chat" (keyup.enter)="sendChat()" placeholder="O que deseja enviar?"></ion-input>
    <img src="assets/imagens/enviar.png" (click)="sendChat()" alt="auto" width=25px slot="end" padding>
    <img src="assets/imagens/email.png" alt="auto" width=30px slot="end" padding>
  </ion-toolbar>
</ion-footer>