<ion-content>
  <div class="row">
    <div class="col-12 header">
      <div class="row ml-4 mt-4">
        <div class="col-5 logo-dashboard mt-2"></div>
        <div class="col-2 mt-2 text-right">
          <ion-icon *ngIf="isDependent" (click)="myInfos()" class="icon-swapper" name="person-circle-outline">
          </ion-icon>
        </div>
        <div class="col-2 mt-2 text-right">
          <ion-icon (click)="agent()" class="icon-swapper" name="sync-circle" *ngIf="user.typeUser === 'agente'">
          </ion-icon>
        </div>
        <div class="col-2 mt-2 text-right">
          <ion-icon class="icon-swapper" name="settings" routerLink="/configuration"></ion-icon>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <label class="welcome">
            Olá,&nbsp;&nbsp;{{userName}}
          </label>
        </div>
      </div>
      <div class="col-12">
        <ion-card *ngIf="isLoading">
          <ion-card-content class="text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Carregando...</span>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="!isLoading" (click)="detail(scheduling[0]?.id)">
          <ion-card-header>
            <ion-card-title class="title-next">PRÓXIMO AGENDAMENTO</ion-card-title>
            <ion-card-subtitle *ngIf="scheduling.length > 0">{{scheduling[0]?.title}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="card-content info" *ngIf="scheduling.length > 0">
            DATA: {{scheduling[0]?.dateScheduling}} <br>
            HORÁRIO: {{scheduling[0]?.hour}}
          </ion-card-content>
          <ion-card-content class="card-content info" *ngIf="scheduling.length === 0">
            NENHUM AGENDAMENTO
          </ion-card-content>
          <ion-row class="card-footer footer-next">
            <ion-col>
              <p>
                <span class="view-info">VER INFORMAÇÕES</span>
                <span class="view-info-icon">
                  <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </span>
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
      <div class="col-12">
        <ion-card *ngIf="isLoading">
          <ion-card-content class="text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Carregando...</span>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="!isLoading" class="card-content" (click)="myScheduling()">
          <ion-card-header>
            <ion-card-title class="title">MEUS AGENDAMENTOS</ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="card-content info" *ngIf="scheduling.length > 0">
            PRÓXIMO AGENDAMENTO: {{scheduling[0]?.dateScheduling}}
          </ion-card-content>
          <ion-card-content class="card-content info" *ngIf="scheduling.length === 0">
            VEJA SEUS AGENDAMENTOS
          </ion-card-content>
          <ion-row class="card-footer footer-my">
            <ion-col>
              <p>
                <span class="view-info">VER TODOS</span>
                <span class="view-info-icon">
                  <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </span>
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
      <div class="col-12" *ngIf="!user.dependent">
        <ion-card *ngIf="isLoading">
          <ion-card-content class="text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Carregando...</span>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="!isLoading && !isDependent" (click)="myDependent()">
          <ion-card-header>
            <ion-card-title class="title">DEPENDENTES</ion-card-title>
            <ion-card-subtitle>VOCÊ POSSUI {{countUser}} DEPENDENTE(S)</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="card-content info">
            ADICIONE OU REMOVA
          </ion-card-content>
          <ion-row class="card-footer footer-depe">
            <ion-col>
              <p>
                <span class="view-info">VER DEPENDENTES</span>
                <span class="view-info-icon">
                  <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </span>
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
  </div>
  <!-- Botao do chat virtual -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="light">
    <img src="assets/imagens/chat.png" (click)="showModalChat()" alt="auto" width=50px>
    <ion-badge style="background-color: #3880ff;">{{amountOfMessages}}</ion-badge>
  </ion-fab>
</ion-content>