.title-card {
    color: #54B488;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;    
}

.card-header {
    border-bottom: 1px solid #E8E8E8;
    font-family: 'Baloo 2', cursive;
}

.content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #505050;
}

.card-content {
    font-family: 'Baloo 2', cursive;
}

.text-introduction {
    text-align: justify;
    color: #343a40;
    font-style: normal;
    font-weight: normal;
    font-family: 'Baloo 2', cursive;
}