
.label-first {
    color: #54B488;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.label-first-second {
    color: #868686;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.input-border {
    border-bottom: 3px solid #54B488;
}

.logo-dual {
    background-image: url(../../../assets/logo.png);
    background-repeat: no-repeat;
    height: 72px;
    background-position: center bottom;
    margin-top: 4%;
}

.header-dual {
    background-image: url(../../../assets/background-header.png);
    background-repeat: no-repeat;
    height: 100px;
    background-size: 100%;
    font-family: "Baloo 2", cursive;
}