<ion-content>
  <div class="row">
    <div class="col-12 header-dual">
      <div class="logo-dual"></div>
    </div>
    <div class="col-10 mt-4 ml-auto mr-auto" [formGroup]="form">
      <div class="col-12 mt-5">
        <label class="label-first-second">Digite seu e-mail de acesso</label><br>
        <ion-input formControlName="email" class="input-border" placeholder="email@email.com" type="email"></ion-input>
      </div>
    </div>
    <div class="col-9 mt-5 ml-auto mr-auto">
      <button class="col-12 btn-login" (click)="send()">Confirmar</button>      
    </div>
    <div class="col-9 mt-3 ml-auto mr-auto">
      <button (click)="back()" class="col-12 btn-cancel">Voltar</button>
    </div>
  </div>
</ion-content>