.title-card {
    color: #54B488;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;    
}

.title-step {
    font-size: 18px !important;
}

.card-header {
    border-bottom: 1px solid #E8E8E8;
    font-family: 'Baloo 2', cursive;
}

.card-content {
    font-family: 'Baloo 2', cursive;
}

.content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #505050;
}

.label-no-transport {
    font-family: 'Baloo 2', cursive;
    color: #505050;
}

a {
    text-decoration: none;
}

.alert-transport {
    color: #d39e00;
}

.title-card-Notification {
    color: #EC2C2C;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;    
}

.icWarning{
    color: gold;
    transform: scale(1.5);
}

hr {
    background: #f4f4f4;
}