<ion-content>
  <div class="row">
    <div class="col-12 header-first">
      <div class="row">
        <div class="col-2 mt-2">
          <ion-icon class="ml-2" name="arrow-back-outline" (click)="goToList()">
          </ion-icon>
        </div>
        <div class="col-10">
          <label class="label-account">Meus agendamentos</label>
        </div>
      </div>
    </div>
    <div class="col-12 mt-5"></div>
    <div class="col-12 mt-5"></div>
    <div class="col-12 mt-4 text-center">
      <img src="../../../assets/thankful.png" alt="">
    </div>
    <div class="col-10 ml-auto mr-auto mt-4 text-center">
      <label class="text">
        Obrigado pela sua avaliação, ela nos ajuda a frequentemente melhorar nosso sistema e conhecer melhor nossos médicos parceiros. 
      </label>
    </div>
    <div class="btn-login col-10 mt-4 ml-auto mr-auto" (click)="goToList()">
      Meus agendamentos
    </div>
  </div>
</ion-content>